@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}


.qr_code {
  background: -webkit-linear-gradient(#e10000, #e60101);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 660px) {
  .generate_party {
    zoom: 50%
  }
}